.twitcher-head {
	background-color: #6441a5;
	height: 80px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.visually-hidden {
	display: none;
}

.twitcher-head h1 {
	color: #fff;
	font-family: arial;
	font-size: 31px;
	font-weight: bold;
	margin-left: 150px;
	letter-spacing: 2px;
}

.twitcher-search {
	background-color: #6441a5;
	height: 50px;
	left: 0;
	padding-left: 150px;
	position: fixed;
	top: 80px;
	width: 100%;
	z-index: 10;
}

.twitcher-search-list {
	height: auto;
	left: 120px;
	list-style-type: none;
	position: absolute;
	top: 25px;
	width: 585px;
	z-index: 300;
}

.twitcher-search-list li {
	display : block;
	height: 73px;
	width: 100%;
	clear: right;
	float: left;
	padding: 2px;
	margin-bottom: 3px;
	background-color: rgba(255,255,255,.93);
	box-shadow: 0 0 0.3em #333;
	font-family: 'arial';
	color: #6441a5;
	font-weight: bold;
}

.twitcher-search-list mark {
	color: #000;
	background:none;
}

.twitcher-search-list li:hover {
	cursor: pointer;
	background-color: #9B87FF;	
}

.twitcher-search-paginator {
	float: right;
	margin-right: 100px;
	padding: 10px;
	font-family: "calibri",arial;
}

.current-page {
	font-weight: bold;
	color: #000;
	margin-left: 2px;
	margin-right: 2px;
}

.prev-button, .next-button {
	color: #6441a5;
	font-weight: bold;
}

.prev-button:hover, .next-button:hover {
	color: #9B87FF;
	font-weight: bold;
	cursor: pointer;
}

.twitcher-search-total {
	float: left;
	margin-left: 50px;
	padding: 10px;
	font-family: "calibri",arial;
	font-weight: bold;
}

.twitcher-search-list li span {
	vertical-align: middle;
	text-align: center;
	float: left;
	margin-left: 5px;
	height: auto;
	font-size: 20px;
	height: 30px;
	margin-top: 24px;

}

.twitcher-search-list li img {
	float: left;
}

.twitcher-result {
	position: relative;
	top: 170px;
}

.twitcher-result-head {
	background: #EFE none repeat scroll 0 0;
	display: block;
	height: 40px;
	left: 0;
	margin: 20px auto auto;
	position: fixed;
	top: 110px;
	width: 100%;
	z-index: 9;
	box-shadow: 0 0 0.3em #333;
}

.twitcher-result-body {
	width: 70%;
	margin : auto;
}

.twitcher-result-body-stream {
	display: block;
	height: 180px;
	width: 100%;
	margin-bottom: 5px;
}

.resultDivInfo {
	display: block;
	float: left;
	height: 100%;
	width: 70%;
	margin-left: 5px;
}

.resultDivImg {
	float: left;
}

.resultDivImgPlaceholder {
	width: 320px;
	height: 180px;
	float: left;
	display: block;
	background-color: #6441a5;
	color: #FFF;
	font-size: 15px;
	font-weight: bold;
}

.resultDivDisplayName {
	display: block;
	font-family: "arial";
	font-size: 25px;
	text-decoration: none;
	color: #6441a5;
}

.resultDivDisplayName:hover {
	color: #9B87FF;
}

.resultDivGame {
	border-bottom: 1px solid #ddd;
	display: block;
	font-family: "calibri",arial;
	font-size: 15px;
	font-weight: bold;
	margin-top: 5px;
}

.Twitcher {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #6441a5 none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color #fff;
  border-image: none;
  border-style: none none solid;
  border-width: medium medium 2px;
  color: #fff;
  font-size: 20px;
  padding: 5px;
  text-align: left;
  width: 600px;
}

.twitcher-submit {
	border: 1px solid #FFF;
	margin-left: 5px;
	height: 36px;
	width: 100px;
	font-size: 20px;
	color: #6441a5;
	background-color: #FFF;
}

.twitcher-submit:hover {
	cursor: pointer;
	color: #000;
}
